
.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 150px;
    gap: 10px
}
.grid div{
    background-color: lightblue;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 100px;
    border: 2px solid black;
}

.item1{
    grid-column: span 2;
}

.item2{
    grid-row: span 2;
}