.grid{
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
}

header{
    grid-area: header;
    background: lightsalmon;
}

aside{
    grid-area: sidebar;
    background: lightseagreen;
}

main{
    grid-area: main;
    background: lightcoral;
}

footer{
    grid-area: footer;
    background: lightgreen;
}

.grid > *{
    color: #333;
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
    border-radius: 8em;
}

@media(max-width: 600px){
    .grid{
        grid-template-areas:
        "header"
        "main"
        "sidebar"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto auto;
        gap: 10px;
    }
}