h1 {font-family: Georgia, 'Times New Roman', Times, serif;}

.card p{
    color: red;
}

.card > p{
    font-size: 30px;
}
p{
    color: blue;
    font-size: 16px;
}

h2{
    color: green;
    background-color: black;
    opacity: 0.5;
}

.Quote{
    font-weight: 800;
}

#Q2{
    color: red;

}

*{
    margin: 0px;
}

*/ Combining all in one */
h1,h2,p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 + p {
    margin: 20px;
}

h1 ~ p {
    
    border: 2px solid black;
}

a[target="_blank"]{
    background-color: antiquewhite;
}

a:hover{
    font-size: 20px;
}

a:active{
    font-size: 25px;
}

a:visited{
    font-size: 15px;
}

p:first-child{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p:nth-child(3){
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;

}

p::first-letter{
    font-size: 30px;
}

p::first-line{
    font-style: italic;
}

.greeting{
    width: 100px;
    padding: 20px;
    border: 2px solid black;
    margin: 30px;
}

.div{
    width: 100px;
    padding: 20px;
    border: 2px solid blue;
    margin: 30px;
}